n8n/sbs_routine_engine.json
{
  "name": "SBS Routine Engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Daily 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  r.id as routine_id,\n  r.name as routine_name,\n  r.description,\n  r.day_of_week,\n  s.id as system_id,\n  s.name as system_name,\n  s.category,\n  s.current_stage\nFROM routines r\nJOIN systems s ON r.system_id = s.id\nWHERE r.status = 'active'\nAND r.day_of_week = TO_CHAR(CURRENT_DATE, 'Day')\nAND s.current_stage != 'complete';",
        "additionalFields": {}
      },
      "id": "get-todays-routines",
      "name": "Get Today's Active Routines",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 400],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL SBS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-routines-exist",
      "name": "Check If Routines Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {},
      "id": "split-routines",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [850, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📅 *Daily Routine Reminder*\n\n*System:* {{ $json.system_name }}\n*Category:* {{ $json.category }}\n*Routine:* {{ $json.routine_name }}\n\n📝 {{ $json.description }}\n\n*Current Stage:* {{ $json.current_stage }}\n\n✅ Reply with `/complete {{ $json.routine_id }}` when done\n⏭️ Reply with `/skip {{ $json.routine_id }}` to skip today",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "send-routine-reminder",
      "name": "Send Routine Reminder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO system_logs (system_id, event, details)\nVALUES ($1, 'routine_reminder_sent', jsonb_build_object(\n  'routine_id', $2,\n  'routine_name', $3,\n  'day_of_week', $4,\n  'timestamp', NOW()\n))\nRETURNING *;",
        "additionalFields": {
          "queryParameters": "={{ [\n  $json.system_id,\n  $json.routine_id,\n  $json.routine_name,\n  $json.day_of_week\n] }}"
        }
      },
      "id": "log-reminder-sent",
      "name": "Log Reminder Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1250, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL SBS"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✨ *Daily Routine Check Complete*\n\n{{ $json.length }} reminder(s) sent today.\n\nHave a productive day! 🚀",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "send-summary",
      "name": "Send Summary Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1650, 300],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📭 *No Active Routines Today*\n\nNo routines scheduled for {{ TO_CHAR(CURRENT_DATE, 'Day, Month DD, YYYY') }}.\n\nEnjoy your free day! ✨",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "no-routines-message",
      "name": "No Routines Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 500],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COUNT(*) FILTER (WHERE current_stage != 'complete') as active_systems,\n  COUNT(DISTINCT category) as categories,\n  array_agg(DISTINCT current_stage) as stages_in_progress\nFROM systems;",
        "additionalFields": {}
      },
      "id": "get-system-stats",
      "name": "Get System Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [250, 600],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL SBS"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📊 *SBS System Summary*\n\n🔧 Active Systems: {{ $json.active_systems }}\n🗂️ Categories: {{ $json.categories }}\n⚙️ Stages in Progress: {{ $json.stages_in_progress.join(', ') }}\n\n_Daily routine check initiated..._",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "send-daily-summary",
      "name": "Send Daily Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [450, 600],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule - Daily 9am": {
      "main": [
        [
          {
            "node": "Get System Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Today's Active Routines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get System Stats": {
      "main": [
        [
          {
            "node": "Send Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Active Routines": {
      "main": [
        [
          {
            "node": "Check If Routines Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Routines Exist": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Routines Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Send Routine Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Routine Reminder": {
      "main": [
        [
          {
            "node": "Log Reminder Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Reminder Sent": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Send Summary Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/Denver",
    "executionOrder": "v1"
  },
  "tags": []
}